
  <h1>{{ pageTitle }}</h1>
      <div class="row"> 
        <div class="column">
          <img src="assets/home/Bann.jpg" class="img">
          <img src="assets/home/acme_noho.jpg" class="img">
          <img src="assets/home/vandal.jpg" class="img">
          <img src="assets/home/print-restaurant.jpg" class="img">
          
        </div>
        <div class="column">
          <img src="assets/home/nyc-gold.jpg" class="img">
          <img src="assets/home/nyc-betony.jpg" class="img">
          <img src="assets/home/imageR.jpg" class="img">
          
        </div> 
        <div class="column">
          <img src="assets/home/midtown.jpg" class="img">
          <img src="assets/home/per-se.jpg" class="img">
          <img src="assets/home/avra.png"  class="img">
          <img src="assets/home/uptown.jpg"  class="img">
          
        </div>
        <div class="column">
          <img src="assets/home/The-Modern.jpg" class="img">
          <img src="assets/home/nyc-betony.jpg" class="img"> 
          <img src="assets/home/nyc_brook.jpg"  class="img">
        </div>
      </div>
  
