<h1>{{ pageTitle }}</h1>
<div class="row"> 
    <div class="column">
      <div class="img_wrap">
        <img src="assets/home/Beringer.jpg" class="img">
        <p class="img_description">Beringer White and Red</p>
      </div>   
      <div class="img_wrap">
          <img src="assets/home/calif-chardonnay.jpg" class="img">
          <p class="img_description">Signorello Chardonnay</p>
      </div>
      <div class="img_wrap">
        <img src="assets/home/pinot-noir.jpg" class="img">
        <p class="img_description">Pinot Noir World Class</p>
      </div>      
    </div>
    <div class="column">
      <div class="img_wrap">
        <img src="assets/home/wine-bordeaux2.jpg" class="img">
        <p class="img_description">Bordeaux Heaven</p>
      </div>
      <div class="img_wrap">
        <img src="assets/home/Casillero.jpg" class="img">
        <p class="img_description">Casillero Chile</p>
      </div>  
      <div class="img_wrap">
        <img src="assets/home/wine-bordeaux.jpg"  class="img">
        <p class="img_description">Claret</p>
      </div>  
      
    </div> 
    <div class="column">
      <div class="img_wrap">
        <img src="assets/home/calif-chardonnay2.jpg" class="img">
        <p class="img_description">Mt Eden Chardonnay</p>
      </div>  
      
      <div class="img_wrap">
        <img src="assets/home/simi.jpg" class="img">
        <p class="img_description">Simi Reserve</p>
      </div>
      <div class="img_wrap">
        <img src="assets/home/calif-cabernet.jpg"  class="img">
        <p class="img_description">Chateau Montelena</p>
      </div>
      
    </div>
    <!--
    <div class="column">
      <img src="assets/home/The-Modern.jpg" class="img">
      <img src="assets/home/nyc-betony.jpg" class="img"> 
      <img src="assets/home/nyc_brook.jpg"  class="img">
    </div>-->
  </div>
