<!--
<div  class="recipe">
  <h1>{{ recipe?.title }}</h1>
  <img src="assets/home/{{recipe?.image}}" />
  <p>{{ recipe?.description }}</p>
  <button (click)="back()">Back</button>
</div>-->


<div *ngIf="formEnabled">
  <div *ngIf="recipe">
    <h1> {{ recipe.title }}</h1>
    
    <img src="assets/home/{{ recipe.image }}" />
    <p>{{ recipe.description }}</p>
    <button (click)="back()">Back</button>
    <button (click)="toggleForm()">Edit</button>
  </div>
</div>

<div *ngIf="!formEnabled">
  <div *ngIf="recipe">
    <div class="form-wrapper">
      <!--<form action="#" method="post" >-->
      <form (submit)="editRecipe()" novalidate>  
        
        <fieldset>
          
          <legend>Edit Recipe</legend>
          <ol>
            <!--
            <li>
              <label for="name">Recipe Title</label>
              <input [(ngModel)]="recipe.title" type="text" name="name" required placeholder="Recipe Name" />
            </li>-->
            <li>
                <label for="name">Recipe Name</label>
              
                <input
                [(ngModel)]="recipe.title"
                #recipeTitle="ngModel"
                minlength="2"
                type="text"
                name="name"
                required
                placeholder="Recipe Name" />
              
                <div *ngIf="recipeTitle.errors?.required && recipeTitle.touched" class="alert">A recipe title is required.</div>
                <div *ngIf="recipeTitle.errors?.minlength && recipeTitle.touched" class="alert">The recipe title should be longer.</div>
              </li>
            <li>
              <label for="image">Image</label>
              <input [(ngModel)]="recipe.image" type="text" name="image" required placeholder="Image Name" />
            </li>
            <li>
              <label for="description">Recipe Description</label>
              <textarea [(ngModel)]="recipe.description" name="description" required></textarea>
            </li>
            <li>
              <button type="submit" >Update Recipe</button>
            </li>
          </ol>
        </fieldset>
      </form>
    </div>
    <button (click)="toggleForm()">Cancel</button>
    <button (click)="deleteRecipe()">Delete</button>
  </div>
</div>

